stages:
  - test
  - build
  - upload

image: "registry.gitlab.com/gbd.lin/django-admin-toolbox-ci/ansible:latest"

chceck_flake8:
  stage: test
  tags:
    - python3
    - pip
  script:
    - "pip install flake8"
    - "flake8 admin_toolbox/"
  only:
    - branches
    - tags

build:sdist:
  stage: build
  tags:
    - python3
    - setuptools
  script:
    - "git describe --all"
    - "python setup.py sdist"
  only:
    - '/^v(\d+!)?\d+(\.\d+)*((a|b|rc)\d+)?(\.post\d+)?(\.dev\d+)?$/'
  except:
    - branches
  artifacts:
    name: '$CI_COMMIT_REF_NAME-sdist'
    paths:
      - dist/

build:wheel:
  stage: build
  tags:
    - python3
    - setuptools
  script:
    - "git describe --all"
    - "python setup.py bdist_wheel"
  only:
    - '/^v(\d+!)?\d+(\.\d+)*((a|b|rc)\d+)?(\.post\d+)?(\.dev\d+)?$/'
  except:
    - branches
  artifacts:
    name: '$CI_COMMIT_REF_NAME-wheel'
    paths:
      - dist/

upload:pypi:
  stage: upload
  tags:
    - python3
    - setuptools
  script:
    - "twine upload dist/* -u $PYPI_USER -p $PYPI_PASSWORD"
  only:
    - '/^v(\d+!)?\d+(\.\d+)*((a|b|rc)\d+)?(\.post\d+)?(\.dev\d+)?$/'
  except:
    - branches
  dependencies:
    - build:sdist
    - build:wheel

upload:github:
  stage: upload
  tags:
    - python3
    - setuptools
  script:
    - "python tools/releases_uploader.py github $CI_COMMIT_REF_NAME"
  only:
    - '/^v(\d+!)?\d+(\.\d+)*((a|b|rc)\d+)?(\.post\d+)?(\.dev\d+)?$/'
  except:
    - branches
  dependencies:
    - build:sdist
    - build:wheel

upload:gitlab:
  stage: upload
  tags:
    - python3
    - setuptools
  script:
    - "python tools/releases_uploader.py gitlab $CI_COMMIT_REF_NAME"
  only:
    - '/^v(\d+!)?\d+(\.\d+)*((a|b|rc)\d+)?(\.post\d+)?(\.dev\d+)?$/'
  except:
    - branches
  dependencies:
    - build:sdist
    - build:wheel
