$sidebar_width: 220px;

.submit-row {
  position: fixed;
  bottom: 0;
  right: 0;
  left: $sidebar_width;
  margin-bottom: 0 !important;
}

body.login .submit-row {
  position: initial;
  bottom: initial;
  left: initial;
  right: initial;
}

html.w-su-sidebar {
  height: 100%;
  body {
    min-height: 100%;
    position: relative;
  }

  body > #container {
    min-height: 100%;
  }

  #su-content {
    padding-left: $sidebar_width;
    overflow: hidden;
    padding-bottom: 70px;

    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }

  #su-sidebar {
    background: #79aec8;
    width: $sidebar_width;
    float: left;
    margin-left: -$sidebar_width;
    top: 60px;
    left: 0;
    bottom: 0;
    min-height: calc(100vh - 20px);
    margin-bottom: -50000px;
    padding-bottom: 50000px;

    > ul {
      margin: 0;
      padding: 0;
      color: white;
      list-style-type: none;
      border-top: 1px solid #6B9BB3;

      > li {
        padding: 0;
        list-style-type: none;
        position: relative;
        a {
          display: block;
          padding: 12px 8px 12px 40px;
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          color: white;
          position: relative;
          border-bottom: 1px solid #6B9BB3;

          &:hover {
            text-decoration: underline;
          }

          i {
            position: absolute;
            top: 50%;
            left: 12px;
            font-size: 16px;
            height: 20px;
            width: 20px;
            text-align: center;
            line-height: 20px;
            margin-top: -10px;
          }
        }

        > ul {
          padding: 0;
          border: none;
          border-bottom: 1px solid #6B9BB3;
          background: #6596ad;
          left: auto;
          top: auto;
          z-index: initial;
          position: static;
          margin: 0;
          list-style-type: none;
          display: none;

          > li {
            list-style-type: none;

            &.active {
              > a {
                background: #48849c;
                color: #f5dd5d;
              }
            }

            > a {
              color: white;
              display: block;
              padding: 4px 4px 4px 50px;
              border-bottom: none;

              &:hover {
                text-decoration: underline;
              }

              i {
                position: absolute;
                top: 50%;
                left: 22px;
                font-size: 16px;
                height: 20px;
                width: 20px;
                text-align: center;
                line-height: 20px;
                margin-top: -10px;
              }
            }

            > ul {
              padding: 0;
              border: none;
              border-bottom: 1px solid #6B9BB3;
              background: #6596ad;
              left: auto;
              top: auto;
              z-index: initial;
              position: static;
              margin: 0;
              list-style-type: none;
              display: none;
              > li {
                list-style-type: none;

                &.active {
                  > a {
                    background: #48849c;
                    color: #f5dd5d;
                  }
                }

                > a {
                  color: white;
                  display: block;
                  padding: 4px 4px 4px 60px;
                  border-bottom: none;

                  &:hover {
                    text-decoration: underline;
                  }

                  i {
                    position: absolute;
                    top: 50%;
                    left: 22px;
                    font-size: 16px;
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    line-height: 20px;
                    margin-top: -10px;
                  }
                }
              }
            }

            &.active, &.expanded {

              > ul {
                display: block;
              }
            }
          }
        }

        &.active {
          > a {
            background: #417690;
            color: #f5dd5d;
          }
        }

        &.active, &.expanded {

          > ul {
            display: block;
          }
        }
      }
    }
  }

  #content {
    overflow: hidden;
  }

  .object-tools a.addlink {
    padding-right: 32px;
  }
}

td.field-_reorder {
  width: 90px !important;
}

td.action-checkbox {
  width: 38px !important;
}

.inline-related {
  &.color-green {
    fieldset {
      background: #ccffcc;
    }
  }
  &.color-yellow {
    fieldset {
      background: #ffffcc;
    }
  }

  &.section-hidden {
    opacity: 0.6;
  }
}

#changelist-filter {
  position: static;
  float: right;
}
